@import "{{ site.theme }}";

.project-tagline {
margin-bottom: 0rem;
}


body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #FFFFFF;
background-color: #000000;
}

.main-content table th, .main-content table td {
border: 0px solid #e9ebec;
}

#coming-soon-get-ready {
 text-align: center; 
}

.site-footer {
border-top: solid 0px #eff0f1;
}

.banner_link {
  margin: 6px;
}

 #coffee_banner {
   display: block;
 }

 #coffee_clear {
   display: none;
 }

 #home_icon {
    display: block;
    position: absolute;
    top: 14px;
    left: 14px;
}

@media (min-width: 550px) {
 
  #coffee_banner {
   display: none;
 }

  #coffee_clear {
    display: block;
    position: absolute;
    top: 14px;
    right: 14px;
  }
}


