---
---

@import "base.css";

/* Orange header image */

.page-header {
background-color: #010101;
background-image: linear-gradient(0deg, #000000, #ED6F00);
padding: 64px 64px 24px 64px;
}

/* orange header text */

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
color: #ED6F00;
}


/* BLUE Hyperlink text */

a {
  color: #007EED;
}
