<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    
    <header class="page-header" role="banner">
      <img src="images/source/jangelsb_profile_pic.png" width="200">
      <h1 class="project-name">josh angelsberg</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <h2> </h2>

      <a id="coffee_clear" href="https://www.buymeacoffee.com/jangelsb">
        <img alt="Buy me a coffee" src="images/source/coffee_clear.png" width=180>
      </a>
      <span>
         <a class="banner_link" href="https://apps.apple.com/us/app/next-calc/id1470313161">
          <img alt="AppStore" src="images/source/appstore.png" width=180>
        </a>
        <a class="banner_link" id="coffee_banner" href="https://www.buymeacoffee.com/jangelsb">
          <img alt="Buy me a coffee" src="images/source/coffee.png" width=180>
        </a>
      </span>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
      </footer>
    </main>
  </body>
</html>
